<!DOCTYPE html>
<!-- Main app controller should always be done here. Content controllers are declare for views in view-user.component -->
<html lang="en" ng-app="mainApp" ng-controller="mainAppController as mainCtrl">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">

	<!-- Load AngularJS -->
	<script defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<!-- Load JQuery -->
	<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Load Bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- Load Angular -->
	<script defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<script defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>

	<!-- Application Level Angular -->
	<script defer src="app.module.js"></script>
	<script defer src="app.controller.js"></script>
	<script defer src="app.config.js"></script>

	<!-- View-User Content -->
	<link rel="stylesheet" href="components/view-user/view-user.style.css">
	<script defer src="components/view-user/view-user.module.js"></script>
	<script defer src="components/view-user/view-user.component.js"></script>
	<script defer src="components/view-user/view-user.config.js"></script>
  <script defer src="components/view-user/view-user.service.js"></script>
  
  <!-- bootstrap top alignment fix and ng-cloak -->
  <style type="text/css">
    .content {
      padding-top: 30px;
      padding-bottom: 20px;
    }
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>

	<title>{{ mainCtrl.titleName }}</title>
</head>

<body>
	<div class="container-fluid content">
		<!-- Template Insertion Point -->
		<div ng-view></div>
	</div>
</body>

</html>