<!-- Controller is referenced to template via view-user-controller  -->

<link rel="stylesheet" href="components/view-user/view-user.style.css">

<div class="row">
  <!--<div class="col-sm-12">-->
    <div class="col-sm-6">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>Delete</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="u in user.users">
              <td>
                <button type="button" class="btn btn-danger btn-xs" ng-click="user.delete(u._id)">
                    <span class="glyphicon glyphicon-trash"></span> <!-- fix trash icon (bootstrap 4 broke them...) -->
                </button>
              </td>
              <td><a class="buttonlink" href="" ng-click="user.selectUser(u._id)">{{u.firstName}}</a></td>
              <td><a class="buttonlink" href="" ng-click="user.selectUser(u._id)">{{u.lastName}}</a></td>
              <td><a class="buttonlink" href="" ng-click="user.selectUser(u._id)">{{u.date}}</a></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-sm-6">
      <div class="card">
          <h4 class="card-header">Spuds CRUD</h4>
          <div class="card-block">
        		
        	  <!-- name="signinForm" gives a name for the form so we can access it with angular -->
        	  <!-- novalidate tells HTML5 that we want to validate it ourselves -->	
              <form name="signinForm" ng-submit="user.submit()" novalidate>
                  <input type="hidden" ng-model="user.updateFlag">
                  <div class="form-row">
                    <div class="form-group">
                      <label for="signinFirstName">First Name</label>
                      <input type="text" class="form-control" id="signinFirstName" name="firstName" ng-model="user.firstName" ng-minlength="2" ng-maxlength="50" placeholder="John" ng-required="true">
                    	<p ng-show="signinForm.firstName.$touched && signinForm.firstName.$invalid">
				          <small class="form-text text-muted error">Please enter a valid first name.</small>
				        </p>
                    </div>
                    <div class="form-group">
                      <label for="signinLastName">Last Name</label>
                      <input type="text" class="form-control" id="signinLastName" name="lastName" ng-model="user.lastName" ng-minlength="2" ng-maxlength="50" placeholder="Smith" ng-required="true ">
                      	<p ng-show="signinForm.lastName.$touched && signinForm.lastName.$invalid">
				          <small class="form-text text-muted error">Please enter a valid last name.</small>
				        </p>
                    </div>
                    <div class="form-group">
                      <label for="signinDate">Date</label>
                      <input type="text" class="form-control" id="signinDate" ng-pattern="/^[0-9]*$/" name="date" ng-model="user.date" placeholder="0" ng-required="true">
                      	<p ng-show="signinForm.date.$touched && signinForm.date.$invalid">
				          <small class="form-text text-muted error">Please enter a valid date.</small>
				        </p>
                    </div>
                    <button type="submit" ng-disabled="signinForm.$invalid" class="btn btn-primary">{{ user.updateButtonName }}</button>
                    <button type="button" class="btn btn-default ng-cloak" ng-hide="user.cancelButton" ng-click="user.cancel()">Cancel</button> <!-- fix initial button flicker -->
                  </div>
                </form>
        
          </div>
        </div>
    </div>
  <!--</div>-->
</div>




